/*===================================*/
/*  Fonts                            */
/*===================================*/
/* ng4asans-regular */
@font-face {
    font-family: "ng4asans-regular";
    src: url('../fonts/ng4asans-regular.eot');
    src: url('../fonts/ng4asans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ng4asans-regular.woff') format('woff'),
    url('../fonts/ng4asans-regular.ttf') format('truetype'),
    url('../fonts/ng4asans-regular.svg#ng4asans-regular') format('svg');
}

@font-face {
    font-family: "ng4asans-medium";
    src: url('../fonts/ng4asans-medium.eot');
    src: url('../fonts/ng4asans-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ng4asans-medium.woff') format('woff'),
    url('../fonts/ng4asans-medium.ttf') format('truetype'),
    url('../fonts/ng4asans-medium.svg#ng4asans-medium') format('svg');
}

/* ========================================================================== 
  General Tags                    
   ========================================================================== */
body {
    overflow-x: hidden;
    font-family: 'ng4asans-medium', 'serif';
    color: #2A2A2A;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%; /* used to Achieve responsive images */
}

a {
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ng4asans-regular', 'serif';
}

/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 * And text-decoration none for all browsers
 */

a:focus {
    outline: 0;
    text-decoration: none;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 */

a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

a {
    color: #fff;
}

/* =============================================================================
   General Classes
   ========================================================================== */

.form-control:focus {
    border-color: #FABC1A;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 188, 26, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(250, 188, 26, .6);
}

.relative {
    position: relative;
}

/*----------------------------
   Tablet & Phone
----------------------------*/
@media (max-width: 768px) {

}

/* =======================================
   Arafa Code
 ==========================================*/

/* classes from Bootstrap 4 */
.m-0 {
    margin: 0 !important
}

.mt-0, .my-0 {
    margin-top: 0 !important
}

.mr-0, .mx-0 {
    margin-left: 0 !important
}

.mb-0, .my-0 {
    margin-bottom: 0 !important
}

.ml-0, .mx-0 {
    margin-right: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1, .my-1 {
    margin-top: .25rem !important
}

.mr-1, .mx-1 {
    margin-left: .25rem !important
}

.mb-1, .my-1 {
    margin-bottom: .25rem !important
}

.ml-1, .mx-1 {
    margin-right: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2, .my-2 {
    margin-top: .5rem !important
}

.mr-2, .mx-2 {
    margin-left: .5rem !important
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
    margin-right: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3, .my-3 {
    margin-top: 1rem !important
}

.mr-3, .mx-3 {
    margin-left: 1rem !important
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
    margin-right: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important
}

.mr-4, .mx-4 {
    margin-left: 1.5rem !important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4, .mx-4 {
    margin-right: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5, .my-5 {
    margin-top: 3rem !important
}

.mr-5, .mx-5 {
    margin-left: 3rem !important
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important
}

.ml-5, .mx-5 {
    margin-right: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.pt-0, .py-0 {
    padding-top: 0 !important
}

.pr-0, .px-0 {
    padding-left: 0 !important
}

.pb-0, .py-0 {
    padding-bottom: 0 !important
}

.pl-0, .px-0 {
    padding-right: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1, .py-1 {
    padding-top: .25rem !important
}

.pr-1, .px-1 {
    padding-left: .25rem !important
}

.pb-1, .py-1 {
    padding-bottom: .25rem !important
}

.pl-1, .px-1 {
    padding-right: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2, .py-2 {
    padding-top: .5rem !important
}

.pr-2, .px-2 {
    padding-left: .5rem !important
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important
}

.pl-2, .px-2 {
    padding-right: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3, .py-3 {
    padding-top: 1rem !important
}

.pr-3, .px-3 {
    padding-left: 1rem !important
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important
}

.pl-3, .px-3 {
    padding-right: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important
}

.pr-4, .px-4 {
    padding-left: 1.5rem !important
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4, .px-4 {
    padding-right: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5, .py-5 {
    padding-top: 3rem !important
}

.pr-5, .px-5 {
    padding-left: 3rem !important
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important
}

.pl-5, .px-5 {
    padding-right: 3rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto, .my-auto {
    margin-top: auto !important
}

.mr-auto, .mx-auto {
    margin-left: auto !important
}

.mb-auto, .my-auto {
    margin-bottom: auto !important
}

.ml-auto, .mx-auto {
    margin-right: auto !important
}

/*end classes*/

body {
    background-color: #FBFBFB;
}

#social-icons > a > li {
    padding: 0 10px;
}

.nav-link:active {
    color: #00b4ef
}

.btn-green {
    background: #00a652;
    border-color: #00a652;
    color: #fff
}

.btn-orange {
    background-color: #fda618;
    border-color: #fda618;
    color: #fff
}

.border-r-50 {
    border-radius: 50px !important;
}

.navbar-nav > li > a {
    border-right: 1px solid #cfcfcf;
}

.navbar-nav > .active > a {
    color: #00b4ef !important;
    border-bottom: #00b4ef 2px solid;
    background-color: transparent !important;
}

.color-grey {
    color: #fff;
}
.color-grey > a > li {
    padding: 0 10px;
}

.color-light-blue {
    color: #00b4ef;
}

#section-header {
    background: url("../public/img/background.png") no-repeat;
    background-size: cover;
    padding-top: 5px;
}

#header-logo {
    /*border-bottom: 1px solid #cfcfcf;*/
}

#brands {
    background-color: #071B24;
    padding: 5px 5px;
}

.brand-logo {
    padding: 5px 5px;
}

.bg-color-silver {
    background-color: #EEEFF1;
}

.border-r-10 {
    border-radius: 10px;
}

.fav-input {
    position: absolute;
    top: 17px;
    left: 20px;
}

.font-size-1-5em {
    font-size: 1.5em !important;
}

/*Footer*/
#footer {
    background-color: #071B24;
    color: #fff;
    padding: 10px 0 0 0;
}

.color-orange {
    color: #fda618;
}

#footer-licence {
    background-color: #000B11;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-color-white {
    background-color: #fff;
}

.border-bottom {
    border-bottom: #cfcfcf 1px solid;
}

.no-padding-x {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.stare-rate__percent{
    border: 1px solid #ccc;
    padding: 17px 12px 12px;
    border-radius: 50%;
    display: inline-block;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 10px;
    vertical-align: middle;
}
.progress{
    overflow: hidden;
    height: 30px;
    margin-bottom: 11px;
}
.progress-content{
    padding: 20px;
}
.progress-content .progress-bar{

    background: #FFD300;
}
.stare-rate__starts{
    margin-bottom: 22px;
}
.stare-rate__starts .glyphicon
{
    /* font-size: 30px; */
    text-shadow: 1px 1px 1px #555353;
}
.rating_now__starts .glyphicon{
    font-size: 30px;

}
.rating_now__starts .glyphicon-star:before{
    color: #FFD300;
}
.stare-rate__starts .glyphicon-star-empty{
    font-size: 28px;
}
.stare-rate{
    padding-top: 30px;
    padding-bottom: 30px;
}
.stare-rate__starts .rating-symbol .glyphicon-star:before{
    font-size: 26px;
    display: inline-block;
    color: #FFD300;
}
.stare-rate__resault{
    font-size: 20px;
}
.glyphicon{
    /* font-size: 22px; */
}
.progress .icon{
    display: inline-block;
}
.star_progress_digree{
    padding-left: 0 ;
}
.star_progress_digree > .glyphicon-star{
    font-size: 16px;
    margin-left: 1px;
}
.star_progress_digree > .glyphicon-star:before{
    color: #191919;
}
.rating_now h4{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.8;
}
.rating_now__starts{
    margin-bottom: 20px;
}
.min-height{
    min-height: 250px;
}
.rating_now{
    overflow: hidden;
    padding: 20px;
}
.comments_container{
    padding: 40px 0;
}
.comments-list{
    padding-right: 0;
    list-style: none;
}
.comment{
    position: relative;
    padding: 20px 130px 19px 20px;
    border: 1px solid #ccc;
    margin-top: 25px;
}
.comment > img{
    position: absolute;
    right: 15px;
}
.comment_info small{
    color: #BBBBBB;
}
.comment_info p{
    margin-top: 11px;
    margin-bottom: 0;
}
.comment-rating .glyphicon-star:before{
    color: #FFD300;
    font-size: 16px;
}
.number-spinner .form-control{
    max-width: 100px;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-color: #2C2C2C;
    border-radius: 0;
}

.data-dwn button{
    background: #fff;
    border: 1px solid #2C2C2C;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
}
.data-dwn button > span, .data-dwn button > span{
    padding-top: 0px;
    display: inline-block;
}
.data-dwn button:hover , .data-up button:hover{
    background: #C3468A;
    color: #fff;
    transition: 0.4s;
}
.data-up button{
    background: #fff;
    border: 1px solid #2C2C2C;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
}
.number-spinner{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.complete_process{
    margin-top: 50px;
}
.data-dwn .btn ,.data-up .btn{
    background: #fff;
    color: #000;
    font-size: 20px;
    padding: 4px;
}
.total__invoice{
    font-size: 28px;
    background: #F3F3F3;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
}
.total__invoice h4{
    margin-left: 30px;
}
.total__invoice h4 ,.total__invoice p{
    display: inline-block;
}
.width-48{
    width: 48%;
}

.pagination > li > a, .pagination > li > span {
    margin: 0 3px !important;
    border-radius: 8px;
}
.pagination>.active>span {
    background-color: #071B25 !important;
    border-color: #071B25;
}
.pagination>li>a {
    color: #111 !important;
}
.flexslider{
    margin-bottom: 0 ;
}
.flex-direction-nav a{
    height: 50px;
}

.adv_data{
    background-color: #00a652;
    color: #fff;
    border-radius: 25px;
}
.adv_data_1{
    padding-top: 10px;
    background-color: #000B11;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.adv_data_2{
    padding-top: 10px;
    background-color: #000B11;
}

.checkedd{
    color: orange;
}